---
import About from '@/components/sections/About.astro';
import Certifications from '@/components/sections/Certifications.astro';
import Education from '@/components/sections/Education.astro';
import Experience from '@/components/sections/Experience.astro';
import Hero from '@/components/sections/Hero.astro';
import Layout from '@/layouts/Layout.astro';
import Skills from '@/components/sections/Skills.astro';
import PrintButton from '@/components/PrintButton.astro';
---

<Layout title="Alfonso Baena - Resume">
  <main class="p-16 xs:p-4 mx-auto w-full">
    <Hero />
    <About />
    <Experience />
    <Education />
    <Certifications />
    <Skills />
    <PrintButton />
  </main>
</Layout>
