<button
  onclick="window.print()"
  class="fixed bottom-4 right-4 bg-opacity-70 bg-purple-700 text-white p-3 rounded-full hover:bg-purple-600 transition duration-300"
>
  <svg
    xmlns="http://www.w3.org/2000/svg"
    fill="none"
    viewBox="0 0 24 24"
    stroke-width="2"
    stroke="currentColor"
    class="w-6 h-6"
  >
    <path
      stroke-linecap="round"
      stroke-linejoin="round"
      d="M6 9V3h12v6M6 18H4a2 2 0 01-2-2v-4a2 2 0 012-2h16a2 2 0 012 2v4a2 2 0 01-2 2h-2m-10 0h10v4H6v-4z"
    ></path>
  </svg>
</button>
